body, html {
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  color: #D4BB83;
  background-color:#273747
}

.bgimg-1, .bgimg-2, .bgimg-3 .bgimg-4 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
  background-image: url("../home.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image:  
  	/*linear-gradient(
      rgba(214,230,243, 0.45), 
      rgba(214,230,243, 0.45)
    ),*/
  	url("../home_about.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("../contact.jpg");
  min-height: 400px;
}

.main-caption {
  text-align: left;
  background-color: #31313193;
  width: unset;
  padding: 25vh 15px 15px;
}

.main-caption span.border {
  display: inline-block;
  /*background-color: #111;
  color: #fff;
  font-size: 3vh;*/
  color: #FFF;
  font-size: 5vh;
  padding: 10px;
  /*letter-spacing: 10px;*/
  margin-bottom: 15px;
}

.main-caption a.border-button {
  display: inline-block;
  border: 3px solid #FFF;
  border-radius: 15px;
  background-color: #313131;
  padding: 10px;
  font-size: 3vh;
  /*letter-spacing: 10px;*/
  margin-bottom: 20px;
  color: #FFF;
  text-decoration: none;
}

.main-caption a.border-button:hover {
  background-color: #21B2C7;
  color: #FFF;
  border: 3px solid #FFF;
}

.caption {
  padding-top: 25vh;
  text-align: center;
  color: #273747;
}

.caption span.border {
  display: inline-block;
  background-color: #21B2C7;
  color: #FFF;
  /*font-size: 3vh;*/
  /*color: #C38A19;*/
  font-size: 7vmin;
  padding: 5px;
  padding-right: 15px;
  padding-left: 15px;
  /*letter-spacing: 10px;*/
  font-weight: bold;
}

h1 {
  font-weight: bold;
  font-size: 1.3em;
}

h3 {
  /*letter-spacing: 2px;*/
  /*text-transform: uppercase;*/
  font-weight: bold;
  color: #C38A19;
}

a.navb-brand {
  color: #FFF;
  font-weight: bold;
}

a.navb-brand:hover {
  color: #D4BB83;
  font-weight: bold;
}

.navb-item {
  color: #C38A19;
  font-weight: bold;
  text-align: right;
}

a.navb-item{
  color: #FFF;
  font-weight: bold;
  text-align: right;
}

a.navb-item:hover{
  color: #D4BB83;
}

.container-napi a.button {
  display: inline-block;
  border: 3px solid #273747;
  padding: 18px;
  font-size: 3vh;
  /*letter-spacing: 10px;*/
  margin-bottom: 20px;
  color: #273747;
  text-decoration: none;
  background-color: #D4BB83;
}

.container-napi a.button:hover {
  background-color: #4C6989;
  color: #D4BB83;
}

.container-napi a.icon-button {
  display: inline-block;
  padding: 15px;
  font-size: 3vh;
  /*letter-spacing: 10px;*/
  color: #FFF;
  border: 2px solid #FFF;
  border-radius: 15px;
  text-decoration: none;
}

.container-napi .icon-button-img {
  filter: brightness(200%) grayscale(100%);
}

.container-napi a.icon-button:hover {
  background-color: #31313166;
  color: #D4BB83;
}

.navbar {
  background: #21B2C7; 
}

.section-welcome {
    color: #FFF;
    background-color: #21b2c7;
    padding: 50px 0 50px 0;
}

.section-about {
  color: #FFF;
  /*background-color: #313131;*/
  background-color: #21b2c7;
  padding:40px 0 50px 0;
  text-align: left;
  padding-left: 5vw;
  padding-right: 5vw;
}

a.e-mail {
  /*color: #D4BB83;*/
  color:#FFF;
  background-color: #31313133;
  border: 2px solid #FFF;
  border-radius: 15px;
  padding: 8px 15px 8px;
}

a.e-mail:hover{
  color: #D4BB83;
}

@media (max-width: 500px) {
    .main-caption {
        width: 100%;
    }
}

